.loginpage{
  background: url("./image_sources/Logo.png") no-repeat;
  background-position: 5em 3em;
  font-family: "Lato", sans-serif;
}

.login {
  margin-top: 80px;
  display: flex;
  justify-content: center;
}

.login__container {
  background-color: whitesmoke;
  padding: 30px;
  flex-direction: column;
  text-align: center;
  border-radius: 15px;
  border-style: groove;
  border-color: azure;
}

.login__textBox {
  padding: 5px;
  width: 100%;
  font-size: 18px;
  margin-bottom: 10px;
  border-radius: 5px;
}
.link{
  text-decoration: none;
  color: black;
}

